<a href="https://colab.research.google.com/github/chandra0013/py/blob/main/Copy_of_Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print('About Data Science Tools')
#Slicing
match='lol lmao'
print(match[:4])
mat=match.split()
print(mat)
print(mat[0])

About Data Science Tools
lol
['lol', 'lmao']
lol

In [ ]:
s="vit-workshop-on-data-science"
print(s[16:20])
lol=s.split("-")[3]
print(lol)

data
data

In [ ]:
#dictionary
student={'regno':101,'name':'kiran reddy','branch':'cse','cgpa':9.5}
fus=student['name'].split()
print(fus[1])

reddy

In [ ]:
marks=[20,3,23,233]
print(marks)
print(type(marks))
print(marks[1:4:2])

[20, 3, 23, 233]
<class 'list'>
[3, 233]

In [ ]:
#to check if a number is prime or composite
n=int(input("enter the number"))
for i in range(2,n):
  if n%i==0:
     print("composite")
     break
else:
  print("Prime")

enter the number5
Prime

In [ ]:
l1=[1,2,3,4,5,6]
l2=[12,13,45,6,73,122]
print(list(zip(l1,l2)))
for i,j in zip(l1,l2):
  print(i+j)

[(1, 12), (2, 13), (3, 45), (4, 6), (5, 73), (6, 122)]
13
15
48
10
78
128

In [ ]:
import pandas as pd
cars=pd.read_csv('/content/cars_data.csv')
cars

,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,Maruti Wagon R LXI CNG,Mumbai,2010,72000,CNG,Manual,First,26.6 km/kg,998 CC,58.16 bhp,5.0,NaN,1.75
1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67 kmpl,1582 CC,126.2 bhp,5.0,NaN,12.50
2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,18.2 kmpl,1199 CC,88.7 bhp,5.0,8.61 Lakh,4.50
3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77 kmpl,1248 CC,88.76 bhp,7.0,NaN,6.00
4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2 kmpl,1968 CC,140.8 bhp,5.0,NaN,17.74
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6014,Maruti Swift VDI,Delhi,2014,27365,Diesel,Manual,First,28.4 kmpl,1248 CC,74 bhp,5.0,7.88 Lakh,4.75
6015,Hyundai Xcent 1.1 CRDi S,Jaipur,2015,100000,Diesel,Manual,First,24.4 kmpl,1120 CC,71 bhp,5.0,NaN,4.00
6016,Mahindra Xylo D4 BSIV,Jaipur,2012,55000,Diesel,Manual,Second,14.0 kmpl,2498 CC,112 bhp,8.0,NaN,2.90
6017,Maruti Wagon R VXI,Kolkata,2013,46000,Petrol,Manual,First,18.9 kmpl,998 CC,67.1 bhp,5.0,NaN,2.65
6018,Chevrolet Beat Diesel,Hyderabad,2011,47000,Diesel,Manual,First,25.44 kmpl,936 CC,57.6 bhp,5.0,NaN,2.50

In [ ]:
cars.columns

Index(['Name', 'Location', 'Year', 'Kilometers_Driven', 'Fuel_Type',
       'Transmission', 'Owner_Type', 'Mileage', 'Engine', 'Power', 'Seats',
       'New_Price', 'Price'],
      dtype='object')

# 1 Pre-Processing
Handling the null valuEs
Remove the invalid data
Remove the outliners
Transform the data to the required

In [ ]:
cars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6019 entries, 0 to 6018
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Name               6019 non-null   object
 1   Location           6019 non-null   object
 2   Year               6019 non-null   int64
 3   Kilometers_Driven  6019 non-null   int64
 4   Fuel_Type          6019 non-null   object
 5   Transmission       6019 non-null   object
 6   Owner_Type         6019 non-null   object
 7   Mileage            6017 non-null   object
 8   Engine             5983 non-null   object
 9   Power              5983 non-null   object
 10  Seats              5977 non-null   float64
 11  New_Price          824 non-null    object
 12  Price              6019 non-null   float64
dtypes: float64(2), int64(2), object(9)
memory usage: 611.4+ KB

In [ ]:
# cars=cars.drop('New_Price',axis=1)
cars.isnull().sum()
#axis is equal to 1 cuz we are removing column if we have to remove a row axis =0

Name                    0
Location                0
Year                    0
Kilometers_Driven       0
Fuel_Type               0
Transmission            0
Owner_Type              0
Mileage                 2
Engine                 36
Power                  36
Seats                  42
New_Price            5195
Price                   0
dtype: int64

In [ ]:
cars['Mileage']=cars['Mileage'].str.split().str[0]
cars['Mileage']

0        26.6
1       19.67
2        18.2
3       20.77
4        15.2
        ...
6014     28.4
6015     24.4
6016     14.0
6017     18.9
6018    25.44
Name: Mileage, Length: 6019, dtype: object

In [ ]:
cars['Mileage']=pd.to_numeric(cars['Mileage'])

In [ ]:
 cars['Mileage'].mean()

18.134960943992024

In [ ]:
cars['Mileage']=cars['Mileage'].fillna(round(cars['Mileage'].mean(),2))
cars['Mileage']

0       26.60
1       19.67
2       18.20
3       20.77
4       15.20
        ...
6014    28.40
6015    24.40
6016    14.00
6017    18.90
6018    25.44
Name: Mileage, Length: 6019, dtype: float64

In [ ]:
cars['Seats']=cars['Seats'].fillna(round(cars['Seats'].mean(),2))
cars['Seats']

0       5.0
1       5.0
2       5.0
3       7.0
4       5.0
       ...
6014    5.0
6015    5.0
6016    8.0
6017    5.0
6018    5.0
Name: Seats, Length: 6019, dtype: float64

In [ ]:
cars['Engine']=cars['Engine'].str.split().str[0]
cars['Engine']

0        998
1       1582
2       1199
3       1248
4       1968
        ...
6014    1248
6015    1120
6016    2498
6017     998
6018     936
Name: Engine, Length: 6019, dtype: object

In [ ]:
cars['Engine']=pd.to_numeric(cars['Engine'])

In [ ]:
cars['Engine']=cars['Engine'].fillna(round(cars['Engine'].mean(),2))
cars['Engine']

0        998.0
1       1582.0
2       1199.0
3       1248.0
4       1968.0
         ...
6014    1248.0
6015    1120.0
6016    2498.0
6017     998.0
6018     936.0
Name: Engine, Length: 6019, dtype: float64

In [ ]:
cars['Power']=cars['Power'].str.split().str[0]
cars['Power']

0       58.16
1       126.2
2        88.7
3       88.76
4       140.8
        ...
6014       74
6015       71
6016      112
6017     67.1
6018     57.6
Name: Power, Length: 6019, dtype: object

In [ ]:
cars['Power']=pd.to_numeric(cars['Power'])

ValueError: ignored

In [ ]:
cars[cars['Power']=='null']

,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
76,Ford Fiesta 1.4 SXi TDCi,Jaipur,2008,111111,Diesel,Manual,First,17.80,1399.0,null,5.00,NaN,2.00
79,Hyundai Santro Xing XL,Hyderabad,2005,87591,Petrol,Manual,First,0.00,1086.0,null,5.00,NaN,1.30
89,Hyundai Santro Xing XO,Hyderabad,2007,73745,Petrol,Manual,First,17.00,1086.0,null,5.00,NaN,2.10
120,Hyundai Santro Xing XL eRLX Euro III,Mumbai,2005,102000,Petrol,Manual,Second,17.00,1086.0,null,5.00,NaN,0.85
143,Hyundai Santro Xing XO eRLX Euro II,Kochi,2008,80759,Petrol,Manual,Third,17.00,1086.0,null,5.00,NaN,1.67
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5873,Hyundai Santro Xing XO eRLX Euro II,Pune,2006,47200,Petrol,Manual,Second,17.00,1086.0,null,5.00,NaN,1.20
5893,Maruti Estilo LXI,Chennai,2008,51000,Petrol,Manual,Second,19.50,1061.0,null,5.28,NaN,1.75
5925,Skoda Laura Classic 1.8 TSI,Pune,2010,85000,Petrol,Manual,First,17.50,1798.0,null,5.00,NaN,2.85
5943,Mahindra Jeep MM 540 DP,Chennai,2002,75000,Diesel,Manual,First,0.00,2112.0,null,6.00,NaN,1.70
5985,Toyota Etios GD,Delhi,2013,70000,Diesel,Manual,First,23.59,1364.0,null,5.00,NaN,3.88

In [ ]:
cars['Power']=cars['Power'].replace('null',0)
cars['Power']

0       58.16
1       126.2
2        88.7
3       88.76
4       140.8
        ...
6014       74
6015       71
6016      112
6017     67.1
6018     57.6
Name: Power, Length: 6019, dtype: object

In [ ]:
cars['Power']=pd.to_numeric(cars['Power'])

In [ ]:
cars['Power']=cars['Power'].fillna(round(cars['Power'].mean(),2))
cars['Power']

0        58.16
1       126.20
2        88.70
3        88.76
4       140.80
         ...
6014     74.00
6015     71.00
6016    112.00
6017     67.10
6018     57.60
Name: Power, Length: 6019, dtype: float64